.Carousel {
  position: relative;
  margin: 1rem 2rem;
}

.Slider {
  position: absolute;
  top: 30%;
  cursor: pointer;
  background: #fdfdfd;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  z-index: 100;
}

.LeftSlider {
  left: 2%;
}

.RightSlider {
  right: 2%;
}

.CarouselContent img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.3s ease-in;
}

.SlideImageLeft {
  animation: animate-slide-left 1s ease-in forwards;
}

.SlideImageRight {
  animation: animate-slide-right 1s ease-in forwards;
}

@keyframes animate-slide-left {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-slide-right {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
