.SignIn {
  width: 35%;
  margin: 2rem auto;
  margin-bottom: 3rem;
}

.AuthForm {
  box-shadow: 3px 3px 5px 3px #ccc;
  border-radius: 5px;
  padding: 1rem;
}

.Title,
.Info {
  text-align: center;
}

.AuthFormHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.AuthHeadButton {
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
}

.HeaderButtonActive {
  font-size: large;
  border-bottom: 3px solid #ffe8d6;
}

.Title {
  margin: 1rem 0;
}

.Info {
  margin-bottom: 2rem;
}

@media (max-width: 780px) {
  .SignIn {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .SignIn {
    width: 80%;
  }
}
