.Members {
  margin: 1rem 2rem;
  margin-bottom: 2rem;
}

.Members ol {
  margin-bottom: 1rem;
  margin: 1rem;
  margin-left: 2rem;
}

.Members ol li {
  margin-bottom: 1rem;
}

.Members ol li a {
  text-decoration: underline;
}

.Members ol li p {
  margin-top: 1rem;
}
