.Input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}

.Input i {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.InputBox {
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  border-radius: 5px;
}

.Disabled {
  background: #e8e8e8;
}
