.FundsTable {
  margin: 2rem auto;
  width: 80%;
  text-align: left;
  border-spacing: 0;
  border: 1px solid #ddd;
}

.FundsTableHead {
  color: #fff;
  background: #b7b7a4;
}

.FundsTable td,
th {
  padding: 1rem;
}

.FundsTable td p {
  margin: 1rem 0;
}

.FundsTableBody tr:nth-child(even) {
  background: #f6f6f6;
}

.MobileView {
  display: none;
}

.DesktopView {
  display: table-header-group;
}

@media (max-width: 650px) {
  .MobileView {
    display: table-row-group;
  }

  .DesktopView {
    display: none;
  }
}
