.FundsTable {
  margin: 2rem auto;
  width: 80%;
  text-align: left;
  border-spacing: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.FundsTable th {
  color: #fff;
  background: #b7b7a4;
}

.FundsTable td,
th {
  padding: 1rem;
}

.FundsTable td span {
  margin: 1rem 0;
}

.FundsTable tr:nth-child(even) {
  background: #f6f6f6;
}

.FundsTable thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.FundsTable thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
