.ProjectDetail {
  margin: 1rem 2rem;
}

.BreadCrumb {
  margin-bottom: 1rem;
}

.ProjectObjective * {
  margin-bottom: 1rem;
}

.ProjectDetailSection {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.ProjectAmount {
  margin: 1rem 2rem;
}

@media (max-width: 550px) {
  .ProjectDetailSection {
    display: block;
  }
}
