.Member {
  margin: 1rem 2rem;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.MemberLogo {
  background: center center no-repeat/cover;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.MemberName {
  font-size: large;
}
